* {
  box-sizing: border-box;
}

html {
  box-sizing: inherit;
}

body {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: radial-gradient(circle, green, black);
}

.calculator {
  max-width: 270px;
  max-height: 480px;
  background-color: lightgray;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.2), -2px -2px 3px rgba(0, 0, 0, 0.2);
}

output {
  width: 250px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
  margin: 30px auto;
  border-radius: 5px;
  font-size: 1.4em;
  font-weight: bold;
  box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.3),
    inset -1px -1px 1px rgba(0, 0, 0, 0.3);
}

.keys {
  justify-content: center;
  max-width: 100%;
  min-height: 100%;
  display: flex;
  flex-wrap: wrap;
  background-color: lightgray;
  margin: auto;
}

button {
  margin: 10px;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: none;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1em;
  font-weight: bold;
  box-shadow: inset 16px 18px 36px -19px rgba(0, 0, 0, 0.55);
}